RewriteEngine On

# Permitir acesso direto a arquivos existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecionar tudo para o router.php
RewriteRule ^(.*)$ router.php [L,QSA] 